n8n/AudioToDiscord/m4atomp3.json
{"meta": {"templateCredsSetupCompleted": true,"instanceId": "cb10364b7fec928d761a55a0b6eccb81399202cadb1a2f770aea02f57904e89f"},"nodes": [{"parameters": {"pollTimes": {"item": [{"mode": "everyMinute"}]},"triggerOn": "specificFolder","folderToWatch": {"__rl": true,"value": "1bLbqJW-uEZOCjXAG25GP-QquMX8TMVKg","mode": "list","cachedResultName": "m4a","cachedResultUrl": "https://drive.google.com/drive/folders/1bLbqJW-uEZOCjXAG25GP-QquMX8TMVKg"},"event": "fileUpdated","options": {}},"id": "3e3f45d2-6a9e-4c45-a3c6-4432e325f094","name": "Google Drive Trigger","type": "n8n-nodes-base.googleDriveTrigger","typeVersion": 1,"position": [960,440],"credentials": {"googleDriveOAuth2Api": {"id": "t4zGUWAZPHJ2OQHs","name": "Google Drive account"}}},{"parameters": {"operation": "download","fileId": {"__rl": true,"value": "={{ $json.id }}","mode": "id"},"options": {}},"id": "ac260358-0e98-4b01-b21a-7b21bb46bc68","name": "Google Drive","type": "n8n-nodes-base.googleDrive","typeVersion": 3,"position": [1100,440],"credentials": {"googleDriveOAuth2Api": {"id": "t4zGUWAZPHJ2OQHs","name": "Google Drive account"}}},{"parameters": {"operation": "write","fileName": "/data/shared/input/input.m4a","options": {}},"id": "3bf5e775-14c1-414e-aef3-d379689fad0a","name": "m4a file save","type": "n8n-nodes-base.readWriteFile","typeVersion": 1,"position": [1240,440]},{"parameters": {"command": "=ffmpeg -i /data/shared/input/input.m4a -q:a 0 /data/shared/output/output.mp3"},"id": "072ac6b6-5f0a-44c8-bf29-653c6fe778b4","name": "m4a to mp3","type": "n8n-nodes-base.executeCommand","typeVersion": 1,"position": [1380,440]},{"parameters": {"fileSelector": "/data/shared/output/output.mp3","options": {}},"id": "0c4da359-4402-403d-a0ef-6324ed55a8b9","name": "read mp3 file","type": "n8n-nodes-base.readWriteFile","typeVersion": 1,"position": [1520,440]},{"parameters": {"command": "=rm /data/shared/input/input.m4a\nrm /data/shared/output/output.mp3\n"},"id": "03cb4aba-72b8-43aa-8817-97f16f9e2638","name": "rm m4a,mp3","type": "n8n-nodes-base.executeCommand","typeVersion": 1,"position": [1800,440]},{"parameters": {"method": "POST","url": "https://api.openai.com/v1/audio/transcriptions","sendHeaders": true,"headerParameters": {"parameters": [{"name": "Authorization","value": "Bearer OpenAI api key"}]},"sendBody": true,"contentType": "multipart-form-data","bodyParameters": {"parameters": [{"name": "model","value": "whisper-1"},{"parameterType": "formBinaryData","name": "file","inputDataFieldName": "data"}]},"options": {}},"id": "f38d3dac-d96c-4347-8525-29b8b945b921","name": "HTTP Request","type": "n8n-nodes-base.httpRequest","typeVersion": 4.1,"position": [1660,440]}],"connections": {"Google Drive Trigger": {"main": [[{"node": "Google Drive","type": "main","index": 0}]]},"Google Drive": {"main": [[{"node": "m4a file save","type": "main","index": 0}]]},"m4a file save": {"main": [[{"node": "m4a to mp3","type": "main","index": 0}]]},"m4a to mp3": {"main": [[{"node": "read mp3 file","type": "main","index": 0}]]},"read mp3 file": {"main": [[{"node": "HTTP Request","type": "main","index": 0}]]},"HTTP Request": {"main": [[{"node": "rm m4a,mp3","type": "main","index": 0}]]}},"pinData": {}}