AWS/AWSmotor/node-red.txt
[{"id":"47963796.9afe08","type":"tab","label":"AWS:motor2","disabled":false,"info":""},{"id":"9cb0b9d7.0a6818","type":"mqtt out","z":"47963796.9afe08","name":"","topic":"/qodj/outTopic","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e5afb491.350de8","x":520,"y":80,"wires":[]},{"id":"d134647f.f4e6a8","type":"mqtt in","z":"47963796.9afe08","name":"","topic":"/qodj/outTopic","qos":"0","datatype":"auto","broker":"e5afb491.350de8","nl":false,"rap":false,"x":150,"y":620,"wires":[["559d659d.6e117c"]]},{"id":"559d659d.6e117c","type":"ui_text","z":"47963796.9afe08","group":"644b7cdd.461c94","order":1,"width":0,"height":0,"name":"","label":"송신문자","format":"{{msg.payload}}","layout":"row-spread","x":326,"y":620,"wires":[]},{"id":"a91b37ac.894688","type":"ui_slider","z":"47963796.9afe08","name":"","label":"Left1","tooltip":"","group":"644b7cdd.461c94","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":"180","step":1,"x":125.81816101074219,"y":74.45453357696533,"wires":[["5db1b64d.2042e8"]]},{"id":"6bb61f75.9c953","type":"ui_slider","z":"47963796.9afe08","name":"","label":"Left2","tooltip":"","group":"644b7cdd.461c94","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":"180","step":1,"x":127.09088134765625,"y":127.63636302947998,"wires":[["196bd9a8.9fcc06"]]},{"id":"d197776d.7393f8","type":"ui_slider","z":"47963796.9afe08","name":"","label":"Right1","tooltip":"","group":"644b7cdd.461c94","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":"180","step":1,"x":126.0000228881836,"y":179.54545783996582,"wires":[["d8e9b738.8f0bb8"]]},{"id":"ed8f2148.d9a1d","type":"ui_slider","z":"47963796.9afe08","name":"","label":"Right2","tooltip":"","group":"644b7cdd.461c94","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":"180","step":1,"x":126.72728729248047,"y":231.36363410949707,"wires":[["3fda43fd.70c0dc"]]},{"id":"6ea5e520.25e23c","type":"ui_button","z":"47963796.9afe08","name":"","group":"644b7cdd.461c94","order":7,"width":0,"height":0,"passthru":false,"label":"front","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","topicType":"str","x":130,"y":380,"wires":[["51e65be3.b5e5c4"]]},{"id":"395028b6.f0c898","type":"ui_slider","z":"47963796.9afe08","name":"","label":"속도 5","tooltip":"","group":"644b7cdd.461c94","order":8,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":"30","max":"999","step":1,"x":126.99996948242188,"y":281.00000286102295,"wires":[["21926a4f.7687c6"]]},{"id":"5db1b64d.2042e8","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:1,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":266.0000190734863,"y":75.00000190734863,"wires":[["9cb0b9d7.0a6818"]]},{"id":"196bd9a8.9fcc06","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:2,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":268.0000343322754,"y":127.00004959106445,"wires":[["9cb0b9d7.0a6818"]]},{"id":"d8e9b738.8f0bb8","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:3,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":265.0000801086426,"y":179.0000457763672,"wires":[["9cb0b9d7.0a6818"]]},{"id":"3fda43fd.70c0dc","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:4,\n    duty:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":268.00004959106445,"y":230.000018119812,"wires":[["9cb0b9d7.0a6818"]]},{"id":"21926a4f.7687c6","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:5,\n    valocity:msg.payload\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":267.0000114440918,"y":280.9999828338623,"wires":[["9cb0b9d7.0a6818"]]},{"id":"51e65be3.b5e5c4","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[110,70,70,110,70,110,110,70]\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":294.9409866333008,"y":379.01041984558105,"wires":[["9cb0b9d7.0a6818"]]},{"id":"7c7a7ad2.e9b674","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:0,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":340,"wires":[["9cb0b9d7.0a6818"]]},{"id":"513f0868.0bebf8","type":"ui_button","z":"47963796.9afe08","name":"","group":"644b7cdd.461c94","order":6,"width":0,"height":0,"passthru":false,"label":"초기위치","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 110070070110 070110110070","payloadType":"str","topic":"","topicType":"str","x":141.99996185302734,"y":339.9999990463257,"wires":[["7c7a7ad2.e9b674"]]},{"id":"a43430ce.b32bc","type":"ui_button","z":"47963796.9afe08","name":"","group":"644b7cdd.461c94","order":7,"width":0,"height":0,"passthru":false,"label":"back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 100110070070 070070100110","payloadType":"str","topic":"","topicType":"str","x":130,"y":420,"wires":[["f87e7c62.fe2e"]]},{"id":"f87e7c62.fe2e","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[110,110,70,70,70,70,100,110]\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":294.9409866333008,"y":419.01041984558105,"wires":[["9cb0b9d7.0a6818"]]},{"id":"9a6803e.e9f6d","type":"ui_button","z":"47963796.9afe08","name":"","group":"644b7cdd.461c94","order":7,"width":0,"height":0,"passthru":false,"label":"turnright","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 130040090090 070100090090","payloadType":"str","topic":"","topicType":"str","x":140,"y":500,"wires":[["34e49cc.8fb9564"]]},{"id":"34e49cc.8fb9564","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[130,40,90,90,70,100,90,90]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":500,"wires":[["9cb0b9d7.0a6818"]]},{"id":"33d16873.3f7878","type":"ui_button","z":"47963796.9afe08","name":"","group":"644b7cdd.461c94","order":7,"width":0,"height":0,"passthru":false,"label":"dance","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 090040090140 090140090040","payloadType":"str","topic":"","topicType":"str","x":130,"y":540,"wires":[["8b2f0d77.d53a"]]},{"id":"8b2f0d77.d53a","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[90,40,90,140,90,140,90,40]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":540,"wires":[["9cb0b9d7.0a6818"]]},{"id":"77d8fb6c.3449b4","type":"ui_button","z":"47963796.9afe08","name":"","group":"644b7cdd.461c94","order":7,"width":0,"height":0,"passthru":false,"label":"turnleft","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9 090090060130 090090110070","payloadType":"str","topic":"","topicType":"str","x":130,"y":460,"wires":[["fa5a1b70.baa8b8"]]},{"id":"fa5a1b70.baa8b8","type":"function","z":"47963796.9afe08","name":"","func":"msg.payload = {\n    mode:9,\n    volume:8,\n    data:[90,90,60,130,90,90,110,70]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":294.9409866333008,"y":459.01041984558105,"wires":[["9cb0b9d7.0a6818"]]},{"id":"e5afb491.350de8","type":"mqtt-broker","name":"","broker":"a1uh55iuflfli7-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"936d50cb.c3284","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"644b7cdd.461c94","type":"ui_group","name":"OTTO 로봇제어","tab":"13a87295.718a4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"936d50cb.c3284","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"dfcf406b9f-certificate.pem.crt","keyname":"dfcf406b9f-private.pem.key","caname":"bCa.pem","servername":"","verifyservercert":true},{"id":"13a87295.718a4d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
