AWS/GooglechatbotOtto/GGChatBot.txt
[{"id":"729951fa.59bcb","type":"tab","label":"GGChatBot","disabled":false,"info":""},{"id":"f1ed4947.ba7388","type":"mqtt out","z":"729951fa.59bcb","name":"","topic":"/qodj/outTopic","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e5afb491.350de8","x":920,"y":720,"wires":[]},{"id":"3afc6573.d57c2a","type":"mqtt in","z":"729951fa.59bcb","name":"","topic":"/qodj/outTopic","qos":"0","datatype":"auto","broker":"e5afb491.350de8","nl":false,"rap":false,"x":430,"y":820,"wires":[["3d22592.83061a6"]]},{"id":"3d22592.83061a6","type":"ui_text","z":"729951fa.59bcb","group":"644b7cdd.461c94","order":1,"width":0,"height":0,"name":"","label":"송신문자","format":"{{msg.payload}}","layout":"row-spread","x":606,"y":820,"wires":[]},{"id":"de5af70.856c308","type":"addFirebase","z":"729951fa.59bcb","firebaseCertificate":"86dd4266.eccef","client_email":"","private_key":"","data":"","childpath":"/data","propertyType":"str","method":"get","newchildpath":"","x":570,"y":640,"wires":[["5f556af7.7173a4"]]},{"id":"c19c9a89.fc1ae8","type":"inject","z":"729951fa.59bcb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":420,"y":640,"wires":[["de5af70.856c308"]]},{"id":"5f556af7.7173a4","type":"debug","z":"729951fa.59bcb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":640,"wires":[]},{"id":"b27af121.ebc4","type":"firebase.on","z":"729951fa.59bcb","name":"","firebaseconfig":"","childpath":"/data","atStart":true,"eventType":"value","queries":[],"x":570,"y":740,"wires":[["cd91ff02.50b2f","f1ed4947.ba7388"]]},{"id":"cd91ff02.50b2f","type":"debug","z":"729951fa.59bcb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":760,"wires":[]},{"id":"e5afb491.350de8","type":"mqtt-broker","name":"","broker":"a1uh55iuflfli7-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"936d50cb.c3284","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"644b7cdd.461c94","type":"ui_group","name":"OTTO 로봇제어","tab":"13a87295.718a4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"86dd4266.eccef","type":"firebaseCertificate","firebaseurl":"myhome-megr-default-rtdb","loginType":"jwt"},{"id":"936d50cb.c3284","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"dfcf406b9f-certificate.pem.crt","keyname":"dfcf406b9f-private.pem.key","caname":"bCa.pem","servername":"","verifyservercert":true},{"id":"13a87295.718a4d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
